{% extends "manage/base.twig" %} {% block body %}
<div class="reports">

    {% if user %}
    <h3><b>个人信息</b></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>学院</th>
                <th>邮箱</th>
                <th>电话</th>
                <th class="success">得分</th>
                <th>结束时间</th>
                <th class="info">耗时</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.number }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.college }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.tel }}</td>
                <td class="success">{{ user.point }}</td>
                <td>{{ user.finishtime }}</td>
                <td class="info">{{ user.spenttime//60 }}分{{ user.spenttime%60 }}秒</td>
            </tr>
        </tbody>
    </table>
        {% if answers | length > 0 %}
    <h3><b>答题详情</b></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>题目编号</th>
                <th>选项</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
            <tr>
                <td>{{ answer.qid }}</td>
                <td {% if answer.sign == '0'%} class="danger"{% endif %} >
                    {{ answer.answer }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}
        <p>
            此人没有回答任何问题
        </p>
        {% endif %}
    {% else %}
        <p>
            查无此人
        </p>
    {% endif %}
    <button class="btn btn-primary" onclick="history.go(-1)">返回</button>
</div>
{% endblock %}
