{% extends "base.twig" %} {% block body %}
<!-- Header -->
    <header>
        <center>
            <h1>{{ webinfo["website_name"] }}</h1>
        </center>
    </header>
    <!-- Content -->
    <div class="container">
        <div class="regulation sub-container">
            <h2>{{ webinfo["regulation_title"] }}</h2>
            <h4><b>{{ webinfo["regulation_subtitle"] }}</b></h4>
            <div class="regulation-details">
                <ol>
                    {{ webinfo["regulation_details"] | raw }}
                </ol>
            </div>
        </div>
        <div class="register sub-container">
            <h2>{{ webinfo["register_title"] }}</h2>
            <form class="form-horizontal" role="form" method="POST" id="regist">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label required-validate">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCollege" class="col-sm-2 control-label">学院</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputCollege" placeholder="College" name="college" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMajor" class="col-sm-2 control-label">专业</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputMajor" placeholder="Major" name="major" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTel" class="col-sm-2 control-label">电话</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="inputTel" placeholder="Phone Number" name="tel" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg" id="start">开始答题</button>
            </form>
        </div>
    </div>
{% endblock %}
